body {
  font-family: "Palatino Linotype" serif;
}

img {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 50px;
}

.clearfix ::after {
  content:"";
  display: table;
  clear: both;
}

.overal {
  font-size: 35px;
  width: 600px;;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  margin-top: 15px;
}

.place{
  font-size: 30px;
}

.conteiner{
  margin: 0 auto;
  width: 480px;
  margin-top: 20px;
}

.arrowleft{
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #827F7F;  
  border-left: 0;
  float: left;
  margin-top: 30px;
  cursor: pointer;
}

.arrowright{
  float: left;
  margin-top: 30px;
  width: 0;
  height: 0;
  border: 20px solid transparent; 
  border-left-color: #827F7F;  
  border-right: 0;
  cursor: pointer;
}

.arrowleft:hover{
  border-right-color: #F1800E;
}
.arrowright:hover{
  border-left-color: #F1800E;
}
.arrowleft:active{
  border-right-color: #E16E03;
}
.arrowright:active{
  border-left-color: #E16E03;
}
.kopit{
  text-indent: 30px;
  font-size: 20px;
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
}

.simbol{
  width: 80px;
  height: 80px;;
  float: left;
  margin-top: 4px;
  margin-left: 15px;
}

span{
  font-size: 20px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  text-align: left;
  width: 300px;
  height: 30px;
}

.gradient{
  float: right;
  margin-right: 10px;
  margin-top: 20px;
  width: 300px;
  height: 5px;
  background: linear-gradient(to right, #1E60B7 80%, #9AC6FF 80%);/*проценты это проценты накопленных средств*/
}

.box1 {
  float: left;
  border: solid 2px;
  width: 414px;
  height: 90px;
  margin-left: 10px;
  margin-right: 10px;
}
.box2 {
  float: left;
  border-bottom: solid 2px;
  width: 414px;
  height: 35px;
  margin-right: 10px;
}
.boxName{
  float: left;
  margin-left: 10px;
  font-size: 18px;
  padding-top: 5px;
  text-align: left;
  height: inherit;
  width: 285px;
}
.boxDate{
  float: right;
  margin-right: 10px;
  font-size: 18px;
  padding-top: 5px;
  text-align: right;
  height: inherit;
  width: 95px;
}
.boxText{
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 18px;
  padding-top: 5px;
  text-align: left;
  height: 120px;
  width: 390px;
}
.stars:after{
  content: "\2605" "\2605" "\2605"/*для закрашенных звездочек*/ "\2606" "\2606"/*для незакрашенных звездочек*/;
  color: gold;
  font-size: 25px;
  float: right;
  margin-right: 10px;
}